@import url('https://fonts.googleapis.com/css?family=Oswald|Yanone+Kaffeesatz&display=swap');
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(165, 220, 215);
    background: linear-gradient( 90deg, rgba(165, 220, 215, 1) 0%, rgba(99, 155, 146, 1) 80%);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 10px 0;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #fff;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}


/* Header */

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}

@media (max-width: 660px) {
    header nav {
        display: block;
    }
}

header .container .logo a {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}

header nav .top-menu {
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 1em;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

header nav .top-menu a {
    text-decoration: none;
    color: inherit;
    border: 1px solid transparent;
    padding: 2px;
    font-size: 25px;
}

header nav .top-menu a:hover {
    border-bottom: 2px solid rgb(155, 224, 177);
}


/* Banner Section */

main section#banner {
    background: url('../image/main-logo.jpg') no-repeat center top/cover;
    height: 100vh;
}

main section#banner .title {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 1em 0;
    text-align: center;
}

main section#banner .bottom-title {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 0;
    margin-block-end: 3em;
    text-align: center;
    justify-content: center;
}


/* About Section*/

main section#about {
    background: rgb(162, 235, 206);
    /* background: linear-gradient(13deg, rgba(162,235,206,1) 0%, rgba(99,155,146,1) 100%); */
}

main section#about .container {
    margin: auto;
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

@media (min-width: 660px) {
    main section#about .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 20px;
    }
}

@media (min-width: 660px) and (max-width: 768px) {
    main section#about .container .box1 {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

main section#about .container .box1 {
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 0 0;
    margin-block-start: 3em;
    margin-block-end: 3em;
    text-align: center;
    justify-content: center;
}

main section#about .container .box2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 20px;
}

main section#about .container .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}


/* Galery Section */

main section#galery {
    background: rgb(155, 224, 177);
}

h2.galery-title {
    display: flex;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 3em 0;
    text-align: center;
    justify-content: center;
}

.containergalery {
    max-width: 680px;
    margin: 0 auto;
    padding: 30px 0;
}


/* Buy Section */

main section#buy {
    background: rgb(162, 223, 235);
}

main section#buy h2 {
    display: flex;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 3em 0;
    text-align: center;
    justify-content: center;
}

main section#buy .buy-card-wrapper .buy-card {
    padding: 10px 0 20px 0;
}

main section#buy .buy-card-wrapper .buy-card img {
    display: block;
    width: 100%;
}

main section#buy .buy-card-wrapper .buy-card h3 {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

main section#buy .buy-card-wrapper .buy-card .button-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

@media (min-width: 580px) {
    main .buy-card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 980px) {
    main .buy-card-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}


/* delivery Section */

main #delivery {
    background: #9BC3E0;
}

main #delivery h2 {
    display: flex;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 3em 0;
    text-align: center;
    justify-content: center;
}

main #delivery p {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    padding: 0 0;
    margin-block-start: 2em;
    margin-block-end: 2em;
    text-align: center;
    justify-content: center;
}


/* Contact Section */

main #contact {
    background: rgb(113, 178, 224);
}

main #contact h3 {
    display: flex;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 2em 0;
    margin: 0;
    text-align: center;
    justify-content: center;
}

main #contact .container .social {
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
    padding: 10px 30px;
    text-align: end;
}

main #contact .container .networks {
    display: flex;
    justify-content: center;
}

main #contact .container .networks img {
    width: 30px;
    height: 30px;
}

main #contact .container .networks a {
    padding: 30px 10px 10px 10px;
}


/* footer container */

footer {
    background: #6F9BF7;
}

footer .container p {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 0;
}

/* Form and form button */

#my-form {
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

input {
    width: 90%;
}

textarea {
    width: 90%;
    height: 150px;
}

button#my-form-button {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #fff;
    background: rgb(165, 220, 215);
    border-radius: 8px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

button#my-form-button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);
}

button.btn.btn-secondary {
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: rgb(165, 220, 215);
    border-radius: 8px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

button.btn.btn-secondary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, .5);
}